<h1>Public Posts</h1>
<div class="row">
   
    {{#each posts}}

    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
               
             <small>{{{editIcon userbyemail._id ../passeduserindex _id}}}</small><!-- .. are for go out of loop and grab user -->
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 20)}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/posts/user/{{userbyemail._id}}">{{userbyemail.name}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/posts/{{_id}}" class="btn grey">Show More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No stories to display</p>
    {{/each}}
</div>